<!doctype html>
<html>

<head>
    <title>BLAH Project</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{!-- google js library for sign in functions --}}
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="/js/loginScripts.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <script src="/js/global.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    {{!-- our api id for the google sign in don't delete --}}
    <meta name="google-signin-client_id" content="824863534750-5lj7cqpnq6tksj2ge7l9uic0ae6drq8j.apps.googleusercontent.com">


</head>

<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">About</a>
        <a href="#">Meet The Team</a>
        <a href="#">Feedback</a>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#" onclick="openNav()">BLAH</a>
        {{#if username}}
        <span style="color: white;">{{username}} is logged in</span>
        {{/if}}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNavDropdown" class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">
            </ul>
            <ul class="navbar-nav">
                {{#if username}}
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#addArticleModal" style="cursor: pointer ;">Post</a>
                </li>
                <li class="nav-item"></li>
                <div class="dropdown">
                    <img class="avatar" src="/images/fullsize/{{userDetails.avatar}}" alt="avatar" data-toggle="dropdown"
                        style=" cursor: pointer;">
                    <span class="caret"></span>
                    <ul class="dropdown-menu dropdown-menu-right" style="margin-right: 50px">
                        <li><a href="#" data-toggle="modal" data-target="#profileModal" style="cursor: pointer ;">View
                                Profile</a></li>
                        <li><a href="/logout" style="cursor: pointer ;">Logout</a></li>

                    </ul>
                </div>
                </li>

                {{else}}
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#loginModal" style="cursor: pointer ;">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#signupModal" style="cursor: pointer ;">Signup</a>
                </li>
                {{/if}}





            </ul>
        </div>
    </nav>

    {{{code.addArticlePopup}}}

    {{{code.loginPopup}}}

    {{{code.signupPopup}}}

    {{!-- Make profile button available if user is logged in --}}
    {{#if username}}
    <div id="profileModal" class="fade modal" role="dialog">
        <div class="modal-dialog modal-lg">

            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">User Profile</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body">
                    <p> <strong>Username:</strong> {{userDetails.username}}</p>
                    <p><strong>First name:</strong> {{userDetails.fname}}</p>
                    <p><strong>Last name: </strong> {{userDetails.lname}}</p>
                    <p><strong>DOB:</strong> {{userDetails.dob}}</p>
                    <p><strong>Country: </strong> {{userDetails.country}}</p>
                    <p><strong>Description:</strong> {{userDetails.description}}</p>
                    <a class="btn btn-default " class="close" data-dismiss="modal">Cancel</a>
                </div>

            </div>

        </div>
    </div>
    {{/if}}


    <div class="container mt-5">
        {{{body}}}
    </div>

</body>

</html>