    <div id="addArticleModal" class="fade modal" role="dialog">
        <div class="modal-dialog modal-lg">

            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Article</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body">

                    <form action="/add" method="POST" id="addForm">

                        <div class="form-group row">

                            <label for="lname" class="col-sm-2 col-form-label">Title</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="title" name="title" required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="lname" class="col-sm-2 col-form-label">Content</label>
                            <div class="col-sm-10">
                                <textarea rows="4" cols="85" class="text" name="content" id="content"></textarea>
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <input class="btn btn-primary" type="submit" value="Submit">
                            <a class="btn btn-default " class="close" data-dismiss="modal">Cancel</a>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>