<div class="row">
    <div class="container">
        <table class="table table-light table-hover">
            <tbody id="tableBody">

                {{#each articles}}
                <tr class="tableRow">
                    <td>
                        <h4>{{this.title}}</h4>
                        {{this.content}}
                        <p> posted by {{this.username}}</p>

                        {{#if isOwner}}
                        <a class="btn-sm btn-danger" href="/delete/{{this.articleID}}">DELETE</a>
                        {{/if}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

</div>