<div id="loginModal" class="fade modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Login</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">

                <form action="/login" method="POST" id="loginForm">

                    <div class="form-group row">

                        <label for="username" class="col-sm-2 col-form-label">Username</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="username" name="username" required>
                        </div>
                    </div>
                    <div class="form-group row">

                        <label for="lname" class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                    </div>

                    <br>
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" value="Submit">
                        <a class="btn btn-default " class="close" data-dismiss="modal">Cancel</a>
                    </div>
                    <div class="form-group g-signin2" data-onsuccess="onSignIn">

                    </div>
                </form>
            </div>

        </div>

    </div>
</div>