<div id="profileModal" class="fade modal" role="dialog">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">User Profile</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">

                <form action="/login" method="POST" id="loginForm">

                    <div class="form-group row">

                        <label for="username" class="col-sm-2 col-form-label">Firstname</label>
                        <p>{{username}}</p>
                    </div>
                    <br>
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" value="Submit">
                        <a class="btn btn-default " class="close" data-dismiss="modal">Cancel</a>
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>